*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D9CDF7;
}

body {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
 
h1{
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 12px;
  color: #271A45;
  font-size: 32px;
  
}

img{
    display: block;
    width: 449px;
    height: 253px;
    margin-top: 27px;
}


.codigo{
    color: #271A45;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 10px;
    opacity: 80%;
}

h3{
    
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 12px;
    color: #271A45;
    font-size: 16px;
    line-height: 16px;
    opacity: 95%;
}

.compra{
    margin-top: 20px;
    border: 1px solid #271A45;
    border-radius: 70px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    opacity: 90%;
    color: #271A45;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    
}

.compra:hover{
    color: #D9CDF7;
    background-color: #271A45;
    transition: 0.2s;
}